<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="usertemp/uBase::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		
		<div class="mt-5">
			<h1 class="text-center">Hare Krishna</h1>
			<div class="card-body">
				<h2 class="text-center">Hi, <scan th:text="${user.name}"></scan></h2>
				<h3>Profile Info</h3>
		 
				<!-- showing contact in the form of a table from bootstrap table-->
			
			<div class="list-group">
			  <a href="#" class="list-group-item list-group-item-action list-group-item-light"><span th:text="${user.id}"></span></a>					
			  <a href="#" class="list-group-item list-group-item-action list-group-item-primary"><span th:text="${user.name}"></span></a>
			  <a href="#" class="list-group-item list-group-item-action list-group-item-secondary"><span th:text="${user.email}"></span></a>
			</div>
			</div>
		</div>
		
		<script>
		$(document).ready(()=>{
			$(".item").removeClass("active");//if any class is added with active (previous iterated classes) remove that first 
			$("#profile-link").addClass("active");//all the home-link class will be added with active class
		});
		</script>
	</section>
</body>
</html>


