<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="Base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center">
		<div class="text: center">
			<h1 class="font-weight-bold">Hare Krishna</h1>
			<p>start collecting your contacts<p>
				<button class="btn bg-primary btn-lg" style="color: yellow\">Get
					Start</button>
		</div>
	</section>
</body>
</html>